<div class="mdl-grid">
<div class="mdl-cell mdl-cell--10-col center">

  {{#mdl-card class="title-card wide"}}
    <div style="margin: 0 auto;">
      {{mdl-textfield
      value=query
      label='Find an author'
      expandableIcon='search'}}
    </div>
    {{#mdl-card-buttons}}
      {{mdl-button icon='help outline'}}
    {{/mdl-card-buttons}}
  {{/mdl-card}}

</div>
</div>
<div class="mdl-grid">
  {{#if authors.isPending}}
    <div class="mdl-cell mdl-cell--4-col center" style="display: flex; justify-content: center;">
      {{mdl-spinner}}
    </div>
  {{else}}
    <div class="mdl-cell mdl-cell--8-col center">
      {{#if authors.length}}
        {{contributor-table contributors=authors.content}}
      {{else}}
        {{#mdl-card class="wide"}}
          <div style="margin: 0 auto;">
            <div class="mdl-card__supporting-text">
              Oh, no! We couldn't find any matching authors.
            </div>
          </div>
        {{/mdl-card}}
      {{/if}}
    </div>
  {{/if}}
</div>
